# This is a "config file"
# If renamed to ~/.build_env.config, it will be sourced in when 
# you run build_env.sh
#
# Override values 
# <-- is a comment
#
# URLS to get JS files from
# this should be http:// plain text
#
# Examples
# --------------
# JS_FILES=("http://code.jquery.com/jquery-1.9.1.js" "http://backbonejs.org/backbone.js")
#
# Local files to copy
# ---------------
# APP_FILES=("app/webapp.py" "app/scripts/runlocal.sh")
#
# INSTALL_PIP=true
# INSTALL_VENV=true
# BASE_GIT="https://github.com/gregory80/heroku-skeleton/tree/master"
