<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{page_title}} | App</title>  
</head>
<body>
  <div class="container">
    This is the main container
  </div>

<script src="{{static_url("js/jquery-1.9.1.js")}}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/underscore.js")}}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/backbone.js")}}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/mustache.js")}}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/app.js")}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
var _example_var = {{json_encode({"foo":"bar"})}};
Mustache.tags = ["<%=", "%>"]; // tonardo steal {{ }}
// start up simple app
new WorkspaceRouter();
Backbone.history.start({pushState: true});
</script>
</body>
</html>
